main {
  min-height: 100dvh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: var(--tgui--tertiary_bg_color);
}

.headerContainer {
  background-color: var(--tgui--bg_color);
  z-index: 10;
  padding: 40px 20px 20px 20px;
}

.stepContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding-bottom: 120px;
}

.footerContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;

  border-top: 1px solid var(--tgui--divider);
  background-color: var(--tgui--bg_color);
}
