.mainContainer {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  background-color: var(--tgui--bg_color);
  overflow: hidden;
}

.headerContainer {
  background-color: var(--tgui--tertiary_bg_color);
  z-index: 10;
  padding: 20px 20px 20px 20px;
}

.headerContainerMobile {
  background-color: var(--tgui--tertiary_bg_color);
  z-index: 10;
  padding: 60px 20px 20px 20px;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;

  padding: 20px 20px 102px 20px;

  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.footerContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 82px;
  z-index: 10;
  background-color: var(--tgui--tertiary_bg_color);

  display: flex;
  justify-content: center;

  padding-bottom: env(safe-area-inset-bottom);
  box-sizing: content-box;
}
