.menuContainer {
  flex: 1;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

/* Обертка для иконки удаления */
.xIconWrapper {
  position: absolute;
  /* Выравниваем точно там, где находится проп 'after' у кнопки */
  right: 9px;
  top: 50%;
  transform: translateY(-50%);

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  color: #fff;

  /* Скрываем по умолчанию */
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
  padding: 5px;
  /* Фон, чтобы перекрыть иконку check под ней */
  background: red;
  border-radius: 100%;
  height: 24px;
  width: 24px;
}
