.menuContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 24px 16px;
  gap: 32px; /* Расстояние между хедером, списком и футером */
}

.mainIcon {
  color: #fff;
}

/* Список кнопок */
.buttonsList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  align-items: center;
}

/* Футер с подсказкой */
.footerHint {
  padding: 14px 16px;
  background-color: var(--tgui--secondary_bg_color);
  border-radius: 16px;
  display: flex;
  gap: 12px;
  align-items: flex-start;
  border: 1px solid var(--tgui--separator_color);
  transition: all 0.3s ease;
  margin-top: auto; /* Прижимает к низу, если контента мало */
}

.hintValid {
  border-color: rgba(var(--tgui--accent_text_color), 0.3);
  background-color: transparent;
}

.hintIconWrapper {
  color: var(--tgui--button_color);
  display: flex;
  align-items: center;
  margin-top: 2px;
}

.hintContent {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.hintTitle {
  font-size: 14px;
  color: var(--tgui--section_header_text_color);
}

.hintText {
  color: var(--tgui--subtitle_text_color);
  line-height: 1.3;
}
