.menuContainer {
  flex: 1;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.button {
  width: 300px;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center;
  padding: 0 16px !important;
  height: 48px;
}
