footer {
  padding: 10px 20px 30px 20px;
  display: flex;
  align-items: center;
  gap: 10px;

  width: 100%;
  max-width: 600px;
}

.backButton {
  flex: 1;
}

.nextButton {
  flex: 1;
  z-index: 99999;
}
