.stepContainer {
  margin: 0 auto;
  padding-top: 24px;

  display: flex;
  flex-direction: column;

  max-width: 600px;
  gap: 36px;
}

.stepHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.stepIcon {
  width: 64px;
  height: 64px;
  background-color: var(--tgui--accent_text_color);
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4px;
  opacity: 0.9;
}

.stepDesc {
  color: var(--tgui--subtitle_text_color);
  line-height: 1.4;
  max-width: 280px;
}

.inputMobile {
  background-color: var(--tgui--secondary_bg_color) !important;
  border: 1px solid var(--tgui--separator_color);
  border-radius: 16px;
  transition: border-color 0.2s ease;
}

.textareaMobile {
  background-color: var(--tgui--secondary_bg_color) !important;
}
