.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.icon {
  width: 64px;
  height: 64px;
  background-color: var(--tgui--accent_text_color);
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4px;
  opacity: 0.9;
}

.icon .subheadline {
  color: var(--tgui--subtitle_text_color);
  line-height: 1.4;
  max-width: 280px;
}
