.modalContent {
  padding: 0 16px 32px 16px; /* Нижний отступ для безопасной зоны */
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputsSection {
  background: transparent !important;
  margin: 0 !important;
}

.inputRow {
  display: flex;
  align-items: flex-end;
  gap: 12px;
}

.inputRow > div {
  flex: 1;
}

.separator {
  width: 10px;
  height: 2px;
  background: var(--tgui--outline);
  margin-bottom: 24px; /* Выравнивание по центру полей ввода (без учета header) */
  flex: none !important;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 8px;
}

.clearIcon {
  color: var(--tgui--subtitle_text_color);
  cursor: pointer;
  opacity: 0.6;
}

.clearIcon:active {
  opacity: 1;
}
