.button {
  width: 300px;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center;
  padding: 0 16px !important;
  height: 48px;
}

.button:hover .xIconWrapper {
  opacity: 1;
  pointer-events: auto;
}
