:root {
  scrollbar-gutter: stable;
}

body {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}

#root {
  min-height: 100vh;
}

.spinnerContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  width: 100%;
}
